.header{background-image: url(img/fondonaranja.png);
text-align: center;
background-size: cover;
margin-left: 0px;
  margin-right: 0px;
  height: 700px;
}

.header__container{position: relative;
top: 75px;  }

.header__titulo{font-family: 'Mate SC', serif;}

.header__subtitulo{font-family: 'Raleway', sans-serif;} 

.header__logo{width: 350px;
 height: 350px;
}

 .header_btn{width: 100%}

 @media (max-width: 768px) {
.header__logo{width: 175px;
height: 175px;}

.header__titulo{font-size: 30px;}

.header__subtitulo{font-size:20px}

.header{background-image: url(img/fondonaranja.png);
text-align: center;
background-size: cover;
margin-left: 0px;
  margin-right: 0px;
  height: 350px;
}
}


